@model IEnumerable<WebsiteBanVe.Models.Phong>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/AdminLayout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Rap.ten_rap)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ten_phong)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Rap.ten_rap)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ten_phong)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.id_phong }) |
            @Html.ActionLink("Details", "Details", new { id=item.id_phong }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.id_phong })
        </td>
    </tr>
}

</table>
