@model IEnumerable<WebsiteBanVe.Models.Phim_DienVien>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/AdminLayout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Dien_Vien.ten_dien_vien)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Phim.ten_phim)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.vaidien)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Dien_Vien.ten_dien_vien)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Phim.ten_phim)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.vaidien)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>
}

</table>
